@import "src/styles/variable";

.headerProfile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  margin-top: 6px;
  padding: 0 16px 0 14px;
  width: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;

    .titleNavigation {
      display: flex;
      align-items: center;
      height: 100%;
      column-gap: 28px;

      p {
        font-weight: 700;
        font-size: 14px;
      }
    }
    .titleSettings {
      display: flex;
      align-items: center;
      column-gap: 20px;
      height: 100%;
    }

    a {
      img {
        width: 24px;
        height: 24px;
        top: 5px;
      }
    }
  }

  .infoAccount {
    margin-top: 10px;
    width: 100%;
    text-align: center;

    .photo {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      // margin-bottom: 14px;

      .wrapperPhoto {
        width: 80px;
        height: 80px;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 50%;
        overflow: hidden;
        display: flex;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
