$primary-button: #ff5a13;
$text-primary: #141a1e;
$text-secondary: #7b8794;
$error: #e02b2b;

$secondary: #00aa93;
$orange: #ffded0;
$grey: #c8ccd1;
$background: #e5e5e5;
$bor_radius: 12px;

//
$white: #ffffff;
$green: #5b9232;
$main-error: #e95050;
$background-secondary: #fff2ec;
$gradient-secondary: linear-gradient(270.95deg, #ff7134 0%, #e02b2b 100%);
$text-text_primary: #242424;

//
$primary-scale: linear-gradient(270.95deg, #bcf373 0%, #467326 100%); ;
