$mediaMaxWidth1260px: 1260px;
$mediaMaxWidth960px: 960px;
$mediaMaxWidth480px: 480px;
$mediaMaxWidth375px: 375px;
$mediaMaxWidth360px: 360px;
$mediaMaxWidth340px: 340px;
$mediaMaxWidth320px: 320px;

$mediaMaxHeight700px: 700px;
$mediaMaxHeight650px: 650px;
$mediaMaxHeight600px: 600px;
$mediaMaxHeight560px: 560px;
