@import "src/styles/variable";

.skills {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 24px 0 24px;

 .profileDataFields {
  width: 100%;
  h2 {
   font-weight: 700;
   font-size: 20px;
   color: #212121;
   margin-bottom: 20px;
  }

  .btnPosition {
   display: flex;
   justify-content: space-between;
  }

  .skills_item {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;

   .item {
    color: #1a1c18;
    font-size: 14px;
    background: linear-gradient(
      0deg,
      rgba(43, 108, 0, 0.08),
      rgba(43, 108, 0, 0.08)
     ),
     #fdfdf5;
    border: 1px solid #66784e;
    border-radius: 30px;
    padding: 6px 12px;

    img {
     margin-right: 6px;
    }
   }

   .itemHidden {
    cursor: pointer;
    background: none;
   }

   .textNotes {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.1px;
    padding: 0 6px;
    color: #586274;
   }

   .containerImg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 10px;
    width: 100%;

    @media (min-width: $mediaMaxWidth575px) {
     justify-content: flex-start;
    }

    .img {
     display: flex;
     max-width: 48%;

     img {
      width: 100%;
      border-radius: 20px;
     }
    }
   }
  }
 }
}
