.uploadPhoto {
 display: flex;
 justify-content: center;
 align-items: self-start;
 height: 100%;

 p {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  height: 32px;
  font-weight: 700;
  font-size: 14px;
  color: #5b9232;
 }

 input {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
 }

 span {
  color: #828282;
  font-weight: 400;
  font-size: 12px;
 }
}

//transitions.map(({ item, props, key }) => (
//  <animated.div key={key}>

//  </animated.div>

//const location = useLocation();
// const transitions = useTransition(
//  location,
//  (location) => location.pathname,
//  {
//   from: { opacity: 0 },
//   enter: { opacity: 1 },
//   leave: { opacity: 0 },
//  }
// );
