.formChangeProfile {
 padding: 16px 16px 0;
 max-width: 650px;
 margin: 0 auto;

 .styleInput {
  margin-top: 20px;
  width: 100%;
  max-width: 650px;

  .wrapperBlockInput {
   height: 50px;

   input {
    height: 50px;
    padding: 18px 20px 17px;
   }
  }

  .textarea {
   min-height: 50px;
  }

  .notes {
   display: block;
   font-size: 12px;
   color: #828282;
  }
 }

 .selectField {
  margin-top: 20px;
  width: 100%;
  max-width: 650px;
 }

 .btnFormWrapper {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  max-width: 650px;
 }
}
