@import "src/styles/variable";

.pending {
 display: flex;
 align-items: center;
 height: 40px;
 margin: 16px;
 font-weight: 600;
 font-size: 14px;

 img {
  margin-right: 8px;
 }

 .process {
  span {
   color: #1a1c18;
   opacity: 0.38;
  }
 }
 .received {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .status {
   color: #2b6c00;
  }

  .showAuthor {
   color: #2b6c00;
  }
 }

 .rejected {
  color: #ba1a1a;
 }
}
