@import "src/styles/variable";

.secondStepFormRegister {
  width: 100%;
  max-width: 450px;

  h2 {
    font-family: "Gilroy_Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    display: block;
    color: $white;
    margin-bottom: 0.5rem;
    margin-top: 20px;

    @media (max-height: $mediaMaxHeight560px) {
      margin-top: 10px;
    }
  }

  .btnFormWrapper {
    margin-top: 40px;

    .sendDataForm {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
      width: 100%;

      .btnWrapper {
        display: flex;
        justify-content: center;
        height: 52px;
        width: 100%;
        // margin-top: 40px;
      }
    }
  }
}
