@import "src/styles/variable";

.secondStepFormRegister {
 width: 100%;

 animation: opaci 0.5s forwards;
 transition: all 0.5s;

 @keyframes opaci {
  0% {
   opacity: 0.5;
  }
  100% {
   opacity: 1;
  }
 }

 h2 {
  font-family: "Gilroy_Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: block;
  color: $white;
  margin-bottom: 0.5rem;
  margin-top: 20px;
 }

 .btnFormWrapper {
  margin-top: 40px;
 }
}
