@import "src/styles/variable";

.widthAddButton {
 position: relative;
 position: fixed;
 bottom: 0;
 height: 50px;
 // display: flex;
 width: 100%;
 background-color: rgb(255, 255, 255);
 background-image: url("../../../assets//icons/backgroungGradient.png");
 background-size: 100%;
}
